*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkkhaki;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}
.box{
    border: 2px solid black;
    padding: 10px;
}
