*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    max-width: 450px;
    max-height: 590px;
    margin: 10px auto;
    background-color: #fff;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}
h1{
    display: flex;
    justify-content: center;
    margin-bottom: 10;
}
h4{
    margin-top: 50px
}

input[type="radio"]{
    margin: 20px;
}
input[type="checkbox"]{
    margin: 4.2px;
}
.en{
    margin-bottom: 20px;
}
select{
    height: 25px;
    width: 260px;
    border-radius: 7px;
    margin-bottom: 10px;
}
input[type="number"]{
    width: 30px;
    margin-right: 100px;
    text-align: center;
}
button{
    margin-top: 15px;
    height: 25px;
    width: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    cursor: pointer;
}
p{
    display: flex;
    justify-content: center;
    margin-left: 100px;
}